---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="title">Bienvenido a mi Web con ASTRO</h1>
		<h2>Primero pasos con Astros</h2>
		<h3>Primero pasos con Astros</h3>
		<h4>Primero pasos con Astros</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, reprehenderit.</p>
		<img src="https://images.pexels.com/photos/6716572/pexels-photo-6716572.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" style="height: 300px;">


		<style>
			.title{
				background-color: skyblue;
			}
		</style>
	</body>
</html>
